<!DOCTYPE html>
<html lang="ru">
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{% static 'images/favicon.ico' %}" sizes="16x16">
	<title>Mebel-Ars - Фабрика диванов</title>
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}" />
</head>
<body>

{% block content %}   {% endblock %}

	<link media="all" rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}" />
	<link media="all" rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}" />
	<script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'js/all.js' %}"></script>
</body>
</html>