{% extends 'site/base.html' %}
{% block content %}
{% load static %}
	<div id="wrapper">
		{% include 'site/private/header.html'%}
		<section class="main">
			<div class="holder">
				<div class="banner-slider">
					<div class="banner-slide">
						<img src="{% static 'images/media/banner.jpg' %}" alt="">
						<div class="banner-info">
							<div class="banner-info-block">
								<div class="banner-name">Диван-еврокнижка “Атланта”</div>
								<div class="banner-price"><span>65 980</span> ₽</div>
								<div class="banner-color-text">Доступно в других цветах и размерах</div>
								<div class="banner-color">
									<div class="banner-color-item" style="background: #86bbaf"></div>
									<div class="banner-color-item" style="background: #454a4e"></div>
									<div class="banner-color-item" style="background: #ffffff"></div>
								</div>
								<a href="{% url 'cntc'%}" class="button button-arrow">
									<span class="button-wrap">Купить</span>
								</a>
							</div>
						</div>
						<div class="banner-discount">-34%</div>
					</div>
					<div class="banner-slide">
						<img src="{% static 'images/media/banner.jpg' %}" alt="">
						<div class="banner-info">
							<div class="banner-info-block">
								<div class="banner-name">Диван-еврокнижка “Атланта”</div>
								<div class="banner-price"><span>65 980</span> ₽</div>
								<div class="banner-color-text">Доступно в других цветах и размерах</div>
								<div class="banner-color">
									<div class="banner-color-item" style="background: #86bbaf"></div>
									<div class="banner-color-item" style="background: #454a4e"></div>
									<div class="banner-color-item" style="background: #ffffff"></div>
								</div>
								<a href="{% url 'cntc'%}" class="button button-arrow">
									<span class="button-wrap">Купить</span>
								</a>
							</div>
						</div>
						<div class="banner-discount">-34%</div>
					</div>
				</div>
				<div class="product-section">
					<h2 class="title">Новинки сезона</h2>
					<div class="catalog-slider">
						<div class="catalog-slide">
							<div class="catalog-item">
								<div class="catalog-inner">
									<div class="catalog-icons">
										<a href="" class="catalog-up"></a>
										<a href="" class="catalog-fav"></a>
									</div>
									<div class="catalog-img">
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c1.jpg' %}" alt=""></a></div>
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c2.jpg' %}" alt=""></a></div>
									</div>
									<div class="catalog-category"><a href="">Еврокнижка</a></div>
									<div class="catalog-name"><a href="">Фиджи</a></div>
									<div class="catalog-price">5 500 ₽</div>
									<div class="catalog-hidden	">
										<div class="catalog-buttons">
											<a href="{% url 'cntc'%}" class="button-min">Купить</a>
											<a href="{% url 'cart'%}" class="button-min button-light">в корзину</a>
										</div>
										<div class="catalog-size">
											<div class="size-title">Габаритные размеры</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
										<div class="catalog-size">
											<div class="size-title">Спальное место</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="catalog-slide">
							<div class="catalog-item">
								<div class="catalog-inner">
									<div class="catalog-icons">
										<a href="" class="catalog-up"></a>
										<a href="" class="catalog-fav"></a>
									</div>
									<div class="catalog-img">
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c2.jpg' %}" alt=""></a></div>
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c1.jpg' %}" alt=""></a></div>
									</div>
									<div class="catalog-category"><a href="">Выкатные диваны</a></div>
									<div class="catalog-name"><a href="">Амстердам</a></div>
									<div class="catalog-price">14 000 ₽</div>
									<div class="catalog-hidden">
										<div class="catalog-buttons">
											<a href="{% url 'cntc'%}" class="button-min">Купить</a>
											<a href="{% url 'cart'%}" class="button-min button-light">в корзину</a>
										</div>
										<div class="catalog-size">
											<div class="size-title">Габаритные размеры</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
										<div class="catalog-size">
											<div class="size-title">Спальное место</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="catalog-slide">
							<div class="catalog-item">
								<div class="catalog-inner">
									<div class="catalog-icons">
										<a href="" class="catalog-up"></a>
										<a href="" class="catalog-fav"></a>
									</div>
									<div class="catalog-img">
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c3.jpg' %}" alt=""></a></div>
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c1.jpg' %}" alt=""></a></div>
									</div>
									<div class="catalog-category"><a href="">Угловые диваны</a></div>
									<div class="catalog-name"><a href="">Мартин</a></div>
									<div class="catalog-price">34 500 ₽</div>
									<div class="catalog-hidden">
										<div class="catalog-buttons">
											<a href="{% url 'cntc'%}" class="button-min">Купить</a>
											<a href="{% url 'cart'%}" class="button-min button-light">в корзину</a>
										</div>
										<div class="catalog-size">
											<div class="size-title">Габаритные размеры</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
										<div class="catalog-size">
											<div class="size-title">Спальное место</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="catalog-slide">
							<div class="catalog-item">
								<div class="catalog-inner">
									<div class="catalog-icons">
										<a href="" class="catalog-up"></a>
										<a href="" class="catalog-fav"></a>
									</div>
									<div class="catalog-img">
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c4.jpg' %}" alt=""></a></div>
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c1.jpg' %}" alt=""></a></div>
									</div>
									<div class="catalog-category"><a href="">Аккордеон</a></div>
									<div class="catalog-name"><a href="">Статус</a></div>
									<div class="catalog-price">122 500 ₽</div>
									<div class="catalog-hidden">
										<div class="catalog-buttons">
											<a href="{% url 'cntc'%}" class="button-min">Купить</a>
											<a href="{% url 'cart'%}" class="button-min button-light">в корзину</a>
										</div>
										<div class="catalog-size">
											<div class="size-title">Габаритные размеры</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
										<div class="catalog-size">
											<div class="size-title">Спальное место</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="catalog-slide">
							<div class="catalog-item">
								<div class="catalog-inner">
									<div class="catalog-icons">
										<a href="" class="catalog-up"></a>
										<a href="" class="catalog-fav"></a>
									</div>
									<div class="catalog-img">
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c1.jpg' %}" alt=""></a></div>
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c2.jpg' %}" alt=""></a></div>
									</div>
									<div class="catalog-category"><a href="">Еврокнижка</a></div>
									<div class="catalog-name"><a href="">Фиджи</a></div>
									<div class="catalog-price">5 500 ₽</div>
									<div class="catalog-hidden">
										<div class="catalog-buttons">
											<a href="{% url 'cntc'%}" class="button-min">Купить</a>
											<a href="{% url 'cart'%}" class="button-min button-light">в корзину</a>
										</div>
										<div class="catalog-size">
											<div class="size-title">Габаритные размеры</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
										<div class="catalog-size">
											<div class="size-title">Спальное место</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="catalog-slide">
							<div class="catalog-item">
								<div class="catalog-inner">
									<div class="catalog-icons">
										<a href="" class="catalog-up"></a>
										<a href="" class="catalog-fav"></a>
									</div>
									<div class="catalog-img">
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c1.jpg' %}" alt=""></a></div>
										<div class="catalog-img-slide"><a href=""><img src="{% static 'images/media/c2.jpg' %}" alt=""></a></div>
									</div>
									<div class="catalog-category"><a href="">Еврокнижка</a></div>
									<div class="catalog-name"><a href="">Фиджи</a></div>
									<div class="catalog-price">5 500 ₽</div>
									<div class="catalog-hidden">
										<div class="catalog-buttons">
											<a href="{% url 'cntc'%}" class="button-min">Купить</a>
											<a href="{% url 'cart'%}" class="button-min button-light">в корзину</a>
										</div>
										<div class="catalog-size">
											<div class="size-title">Габаритные размеры</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
										<div class="catalog-size">
											<div class="size-title">Спальное место</div>
											<div class="size-line">
												<div class="size-item">Длина <br>233см</div>
												<div class="size-item">Ширина <br>107см</div>
												<div class="size-item">Высота <br>90см</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="promo">
					<h2 class="title">Хиты продаж</h2>
					<div class="promo-block">
						<div class="promo-big">
							<div class="promo-item">
								<img src="{% static 'images/media/promo1.jpg' %}" alt="">
								<div class="promo-info">
									<div class="promo-category">Еврокнижка</div>
									<div class="promo-name"><a href="">Фиджи</a></div>
									<div class="promo-price">5 500 ₽</div>
								</div>
								<div class="catalog-icons">
									<a href="" class="catalog-up"></a>
									<a href="" class="catalog-fav"></a>
								</div>
							</div>
						</div>
						<div class="promo-side">
							<div class="promo-item">
								<img src="{% static 'images/media/promo2.jpg' %}" alt="">
								<div class="promo-info">
									<div class="promo-category">Еврокнижка</div>
									<div class="promo-name"><a href="">Фиджи</a></div>
									<div class="promo-price">5 500 ₽</div>
								</div>
								<div class="catalog-icons">
									<a href="" class="catalog-up"></a>
									<a href="" class="catalog-fav"></a>
								</div>
							</div>
							<div class="promo-item">
								<img src="{% static 'images/media/promo3.jpg' %}" alt="">
								<div class="promo-info">
									<div class="promo-category">Еврокнижка</div>
									<div class="promo-name"><a href="">Фиджи</a></div>
									<div class="promo-price">5 500 ₽</div>
								</div>
								<div class="catalog-icons">
									<a href="" class="catalog-up"></a>
									<a href="" class="catalog-fav"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="main-info">
					<h2 class="title">Мы в цифрах</h2>
					<div class="main-info-block">
						<div class="main-info-item">
							<div class="main-info-num"><span>20</span> лет</div>
							<div class="main-info-text">Производим для вас диваны</div>
						</div>
						<div class="main-info-item">
							<div class="main-info-num"><span>15 000</span> м<sup>2</sup></div>
							<div class="main-info-text">Прозводственных площадей</div>
						</div>
						<div class="main-info-item">
							<div class="main-info-num"><span>&gt;100 000</span></div>
							<div class="main-info-text">Довольных клиентов</div>
						</div>
					</div>
				</div>
				<div class="main-about">
					<h2 class="title">О нас</h2>
					<div class="about-block">
						<div class="about-img"><img src="{% static 'images/media/about.jpg' %}" alt=""></div>
						<div class="about-text">Стиль, комфорт и качество по доступной цене - вот уже более 20 лет мы производим мебель, 
						руководствуясь этими простыми истинами. Понимая, что любой наш диван, софа или кресло, 
						в первую очередь, должны создавать уют в вашем доме, мы стараемся делаем только то, 
						что понравилось бы нам самим. При этом мы ценим вкус наших клиентов, их потребности 
						и желания, поэтому для каждого продукта готовы предложить максимально широкий 
						ассортимент цветов, тканей, фактур. Фабрика "Мебель-Арс" работает без посредников. 
						Мы гордимся тем, что имеем собственную команду опытных мастеров, современное 
						оборудование и грамотно выстроенную инфраструктуру. Такой подход позволяет предложить 
						вам действительно качественную мебель по вполне приемлемой цене. Мы убеждены, 
						что накопленный нами опыт поможет оправдать ваши самые смелые ожидания.</div>
					</div>
				</div>

			</div>	
		</section>
		{% include 'site/private/footer.html'%}
	</div>

{% endblock %}

