{% extends 'dashboard/base.html'%}



{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">All contact </h4>
                        <p class="category">Here there are all messages</p>
                    </div>
                    <div class="card-content table-responsive table-full-width">
                        <table class="table">
                            <thead>
                                <tr class="info">
                                    <th>№</th>
                                    <th>Ism va familiya</th>
                                    <th>Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for i in cntc %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ i.name }}</td>

                                        <td class="td-actions">
                                            <a href="{% url 'contact_detail' pk=i.id %}" rel="tooltip" title="View Profile" class="btn btn-info btn-simple btn-xs">
                                                <i class="ti-id-badge"></i>
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}