<footer class="footer">
	{% load static %}
			<div class="holder">
				<div class="footer-block">
					<div class="footer-col">
						<div class="footer-logo"><img src="{% static 'images/logo-black.svg' %}" alt=""></div>
						<ul class="footer-nav">
							<li><a href="">Политика конфиденциальности</a></li>
							<li><a href="">Условия возврата</a></li>
							<li><a href="">Точки самовывоза</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<ul class="footer-nav">
							<li><a href="{% url 'cmp' %}">Аккордеон</a></li>
							<li><a href="{% url 'cmp' %}">Угловые диваны</a></li>
							<li><a href="{% url 'cmp' %}">Выкатные диваны</a></li>
							<li><a href="{% url 'cmp' %}">Диваны “на пол”</a></li>
							<li><a href="{% url 'cmp' %}">Диваны книжка</a></li>
							<li><a href="{% url 'cmp' %}">Диваны еврокнижка</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<ul class="footer-nav">
							<li><a href="{% url 'cmp' %}">Аккордеон</a></li>
							<li><a href="{% url 'cmp' %}">Угловые диваны</a></li>
							<li><a href="{% url 'cmp' %}">Выкатные диваны</a></li>
							<li><a href="{% url 'cmp' %}">Диваны “на пол”</a></li>
							<li><a href="{% url 'cmp' %}">Диваны книжка</a></li>
							<li><a href="{% url 'cmp' %}">Диваны еврокнижка</a></li>
						</ul>
					</div>
					<div class="footer-col">
						<div class="footer-phone"><a href="tel:+88008008080">+998 93 846 99 55</a></div>
						<a href="{% url 'cntc'%}" class="white-button">Задать вопрос</a>
					</div>
				</div>
			</div>

		</footer>